$primary-color: #2d3e50;
$secondary-color: #1e2834;
$text-primary-color: white;

$height-100: 100%;

$primary-border-radius: 4px;
$secondary-border-radius: 6px;
$button-transitionanim-time: 0.15s;
$button-transitionanim-style: linear;
$floating-transitionanim-time: 6px;